<p id="notice"><%= notice %></p>

<%= render 'error' %>

<h1>Name: <%= @flatmate_group.name %></h1>
<div id="flatmate_group_show">
  <p class="is_active">Is Active:
    <% if @flatmate_group.is_active then %>
      <%= "yes" %>
    <% else %>
      <%= "no" %>
    <% end %>
  </p>
  <h2>Members:</h2>
  <% @flatmate_group.flatmates.each do |fm| %>
       <div class="member_name"> <%= fm.name %> </div>
  <% end %>
</div>

<div class="back_and_forth">
  <%= link_to 'Edit', edit_flatmate_group_path(@flatmate_group) %> |
  <%= link_to 'Back', flatmate_groups_path %>
</div>
